# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*.backup

# Crash log files
crash.log

# Ignore override files as they are usually temporary
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# TFLint files
.tflint.hcl